name: Deploy Project

# Trigger the workflow
on:
  push:
    branches:
      - main     # jab main branch me push ho
  workflow_dispatch:  # manual trigger ke liye bhi

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend image
        run: |
          docker build -t sagar592/backend ./backend
          docker push sagar592/backend

      - name: Build and push frontend image
        run: |
          docker build -t sagar592/frontend ./frontend
          docker push sagar592/frontend
